COMPOSE_PROJECT_NAME="payload-project"
COMPOSE_FILE="docker-compose.yml"
# COMPOSE_PROFILES="development"
# COMPOSE_PROFILES="production"

# Database connection string
DATABASE_URL=mongodb://127.0.0.1/your-database-name

# Or use a PG connection string
#DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://www.devserver1.my-domain.com

# Secret used to authenticate cron jobs
#CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
#PREVIEW_SECRET=YOUR_SECRET_HERE

HOSTNAME='0.0.0.0'


