build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

public/robots.txt
public/sitemap*.xml
public/media/*
!public/media/website-template-OG*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*.db
